@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap');

:root {
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    color: black;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}


h1, h2{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

a {
   text-decoration: none;
}

.main-bg {
    background-image: url(../img/foto-home.jpg);
    background-size: cover;
    background-position: center center;
}

.general-content {
    max-width: 120rem;
    margin: 0 auto;
}

.screen-size {
    min-height: 100vh;
}

.menu-aside {
    background: rgb(71, 114, 91);
    font-weight: bold;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #EEE;
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: var(--gap);
}
.menu-content h1 {
    font-size: 2.3rem;
}

.menu-content h1 a {
    color: inherit;
}


.menu-content ul {
    list-style: none;
    display: flex;
}

.menu-content ul li a {
    display: block;
    padding: 30px;
    font-size: 1.8rem;
    color: inherit;
    position: relative;
}

.menu-content ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.7rem;
    left: 50%;
    width: 0;
    height: 0.3rem;
    background: rgb(53, 21, 3);
    transition: all 400ms ease-in-out;
}

.menu-aside ul li a:hover::after {
    left: 25%;
    width: 50%;
}

.projects-img {
    width: 100%;
    overflow: hidden;
}

.projects-img  img:hover{
    transition: all 300ms ease-in-out;
    transform: scale(1.2);
}


.projects-content h2, .projects-content  p {
    text-align: center;  
}

.projects-content  p { 
    margin-bottom: 3rem;
}

.espace-top {
    padding-top: 100px;
}

.orcamento-content{
    background: rgba(192, 197, 194, 0.7);
    border-radius: 15px;
    height: 62rem;
    margin-top: 4rem;
}
.orcamento-content h2{
    padding-top: 3rem;
    text-align: center;
    font-size: 4rem;
}

.form-request {
    padding: 2rem;
    width: 100%;
}

.form-request label{
    margin-left: 11.5rem;
}

.inputs {
    display: block;
    margin: 1.2rem auto;
    width: 80%;
    height: 3.5rem;
    font-size: 2rem;
}

.input-description {
    height: 14rem;
}

.submit-button {
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    font-weight: bold;
    background: rgb(111, 163, 135);
    margin-top: 1rem;
    margin-left: 94rem;
}

.submit-button:hover {
    cursor: pointer;   
}