@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap');

:root {
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    color: black;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}


h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

a {
    text-decoration: none;
}

.main-bg {
    background-image: url(../img/foto-home.jpg);
    background-size: cover;
    background-position: center center;
}

.general-content {
    max-width: 120rem;
    margin: 0 auto;
}

.screen-size {
    min-height: 100vh;
}

.menu-aside {
    background: rgb(71, 114, 91);
    font-weight: bold;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #EEE;
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio-content {
    text-align: center;
    margin-top: 20rem;
}

.grid-projetos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: var(--gap);
}

.menu-content h2 {
    font-size: 2.3rem;
    text-transform: uppercase;
}

.menu-content h2 a {
    color: inherit;
}


.menu-content ul {
    list-style: none;
    display: flex;
}

.menu-content ul li a {
    display: block;
    padding: 30px;
    font-size: 1.8rem;
    color: inherit;
    position: relative;
}

.menu-content ul li a::after {
    content: '';
    width: 0;
    height: 0.3rem;
    background: rgb(53, 21, 3);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.menu-aside ul li a:hover::after {
    width: 100%;
}

.projects-img {
    width: 100%;
    overflow: hidden;
}

.projects-img img:hover {
    transition: all 300ms ease-in-out;
    transform: scale(1.2);
}


.projects-content h2,
.projects-content p {
    text-align: center;
}

.projects-content p {
    margin-bottom: 3rem;
}

.espace-top {
    padding-top: 10rem;
}

.orcamento-content {
    background: rgba(192, 197, 194, 0.7);
    border-radius: 15px;
    height: 62rem;
    margin-top: 5rem;
}

.orcamento-content h2 {
    padding-top: 3rem;
    text-align: center;
    font-size: 4rem;
}

.form-request {
    padding: 2rem;
    width: 100%;
}

.form-request label {
    margin-left: 11.5rem;
}

.inputs {
    display: block;
    margin: 1.2rem auto;
    width: 80%;
    height: 3.5rem;
    font-size: 2rem;
}

.input-description {
    height: 14rem;
}

.submit-button {
    display: block;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    font-weight: bold;
    background: rgb(111, 163, 135);
    margin: auto auto;
}

.submit-button:hover {
    cursor: pointer;
}

.grid-sobre {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-top: 5rem;
    gap: var(--gap);
}

.colunm1-grid-sobre {
    background: #eee;
    border-radius: 2rem;
    padding: 3rem;
}

.colunm1-grid-sobre p {
    padding-top: 3rem;
    line-height: 3.5rem;
    text-align: left;
    font-size: 2rem;
}

.imagem-mulher {
    margin: 2rem;
}

.imagem-mulher img {
    width: 42rem;
    height: 39rem;
}

.flex-contato {
    height: 50rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 10rem;
    padding-right: 10rem;
    line-height: 4rem;
    background: rgb(95, 124, 109, 0.8);
    border-bottom: 0.1rem solid rgb(228, 228, 228);
}

.flex-contato h4 {
    font-size: 3.5rem;
    margin-top: 5.5rem;
    margin-bottom: 2rem;
}

.contato-lists li {
    list-style: none;
}

.contato-lists li a {
    color: black;
}

.contato-icons a {
    color: inherit;
}

.contato-icons img {
    width: 1.5rem;
    height: 1.5rem;
}


.footer-copiright {
    background: rgb(71, 114, 91);
}

.footer-copiright p {
    font-size: 2rem;
    font-weight: bold;
    height: 8rem;
    text-align: center;
    padding-top: 2.5rem;
}

.whatsapp-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 3;
}

.close-menu {
    display: none;
}

@media (max-width: 800px) {

    .menu-aside {
        display: none;
        text-align: center;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 3rem;
        background: rgb(111, 163, 135);
        color: white;
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 1rem;
    }

    .close-menu:checked~.menu-aside {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .whatsapp-button {
        bottom: 3rem;
        right: 3rem;
    }

    .espace-top {
        padding-top: 2rem;
    }

    .inicio-content {
        margin-top: 18rem;
    }

    .inicio-content h2 {
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }

    /* TELA PROJETOS */

    .grid-projetos {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .projects-content h2 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .projects-content p {
        font-size: 1.6rem;
    }

    .projects-img img {
        width: 100%;
        height: 30rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .projects-img img:hover {
        transition: none;
        transform: none;
    }

    /* TELA ORÇAMENTOS */

    .orcamento-content {
        margin-top: 12.5rem;
    }

    .orcamento-content h2 {
        font-size: 3rem;
        margin: 0 1rem;
    }

    .form-request label {
        margin-left: 0;
    }

    .inputs {
        margin: 1.2rem 0;
        width: 100%;
        height: 3.2rem;
        font-size: 1.8rem;
    }

    .input-description {
        height: 12rem;
    }

    .submit-button {
        height: 3rem;
        width: 9rem;
        font-size: 1.8rem;
        border-radius: 1rem;
        margin-top: 4rem;
    }

    /* TELA SOBRE*/

    .grid-sobre {
        grid-template-columns: 1fr;
        padding-top: 2rem;
    }

    .colunm1-grid-sobre {
        padding: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .colunm1-grid-sobre p {
        line-height: 3rem;
        text-align: left;
        font-size: 1.8rem;
    }

    .colunm1-grid-sobre h3 {
        font-size: 3rem;
    }

    .imagem-mulher {
        margin: 1rem;
    }

    .imagem-mulher img {
        width: 100%;
        height: 36rem;
    }

    /* TELA CONTATO*/

    .flex-contato {
        height: auto;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 3rem;
    }

    .flex-contato h4 {
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .contato-lists li {
        list-style: none;
    }

    .contato-lists li a {
        color: inherit;
    }

    .contato-icons img {
        width: 1.5rem;
        height: 1.5rem;
    }

}